{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Pessoa{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!"><i class="feather icon-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Pessoa</li>
    </ol>
</nav>
{% endblock breadcrumbs %}
{% block content %}
<form  id="pessoaForm" method="POST" action="{% url 'pessoa_view' %}"  enctype="multipart/form-data" onsubmit="return validarFormulario(event)">
    {% csrf_token %}
    <!-- Aba de navegação -->
    <div class="d-flex justify-content-between">
        <a href="{% url 'admin:abi_pessoa_changelist' %}" class="btn btn-light mt-2 " style="position: relative; z-index: 5; background-color: #8a8a8a; color: #FFF; left: 92%;"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>Voltar</a>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist"> 
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Dados" type="button" role="tab" aria-controls="Dados" aria-selected="true">Dados</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#Endereco" type="button" role="tab" aria-controls="Endereco" aria-selected="false">Endereço</button>
            </li>
    </ul>   
    <!-- Conteúdo das abas -->
    <div class="tab-content" id="myTabContent">
        
        <div class="tab-pane fade show active" id="Dados" role="tabpanel" aria-labelledby="home-tab">
            <div class="form-row">
                <div class="col-sm-9">
                    <label for="exampleInputNome">Nome <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="exampleInputNome" name="nome" placeholder="Digite seu nome"  value="{{ pessoa.pes_nome}}" maxlength="300" required>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="InputDataNascimento">Data de Nascimento <span style="color: red;">*</span></label>
                        <input type="date" class="form-control form-control-sm" id="InputDataNascimento" name="data_nascimento" value="{{ pessoa.pes_data_nascimento|date:'Y-m-d' }}" placeholder="Digite sua data de nascimento" required>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="CPF">CPF <span style="color: red;">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="InputCPF" name="cpf" placeholder="Digite seu CPF" value="{{ pessoa.pes_cpf}}" maxlength="14" oninput="mascaraCPF(this)" inputmode="numeric" required>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <label for="InputGenero">Gênero <span style="color: red;">*</span></label>
                    <select class="form-control form-control-sm" id="InputGenero" name="genero" required>
                        <option value="">Selecione o Gênero</option>
                        {% for genero in generos %}
                            <option value="{{ genero.gen_cod }}">{{ genero.gen_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhum gênero disponível</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="InputOrientacaoSexual">Orientação Sexual <span style="color: red;">*</span></label>
                    <select class="form-control form-control-sm" id="InputOrientacaoSexual" name="orientacaoSexual" required>
                        <option value="">Selecione a Orientação Sexual</option>
                        {% for orientacaoSexual in orientacaoSexual %}
                            <option value="{{ orientacaoSexual.ori_cod }}">{{ orientacaoSexual.ori_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhuma orientação sexual disponível</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-4">
                    <label for="InputEtniaRaca">Etnia/Raça <span style="color: red;">*</span></label>
                    <select class="form-control form-control-sm" id="InputEtniaRaca" name="etnia" required>
                        <option value="">Selecione a Etnia/Raça</option>
                        {% for etnia in etnia %}
                            <option value="{{ etnia.etn_cod }}">{{ etnia.etn_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhuma etnia/raça disponível</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="InputEscolaridade">Escolaridade <span style="color: red;">*</span></label>
                    <select class="form-control form-control-sm" id="InputEscolaridade" name="escolaridade" required>
                        <option value="">Selecione o nível de escolaridade</option>
                        {% for escolaridade in escolaridade %}
                            <option value="{{ escolaridade.esc_cod }}">{{ escolaridade.esc_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhuma escolaridade disponível</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="InputArea">Área de Artística <span style="color: red;">*</span></label>
                    <select class="form-control form-control-sm" id="InputArea" name="areaArtistica" required>
                        <option value="">Selecione a Área</option>
                        {% for area in areaArtistica %}
                            <option value="{{ area.are_cod }}">{{ area.are_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhuma Área disponível</option>
                        {% endfor %}
                    </select>
                </div>  
            </div>

            <hr class="my-4">
            <div style="border-left: 2px solid #00b4d8; padding-left: 10px; height: 30px; display: flex; align-items: center;">
                <h6 style="margin: 0;">Contato</h6>
            </div>
            <br>
            <div class="form-row">
                <div class="col-sm-6">
                    <label for="exampleInputEmail">E-mail <span style="color: red;">*</span></label>
                    <input type="email" class="form-control" id="exampleInputEmail" name="email" value="{{ pessoa.pes_email}}" placeholder="Digite seu E-mail" maxlength="200" required>
                </div>
                <div class="col-sm-3">
                    <label for="exampleInputTelefone">Telefone</label>
                    <input type="text" class="form-control" id="exampleInputTelefone" name="telefone" placeholder="Digite seu Telefone"  value="{{ pessoa.pes_telefone}}" maxlength="14" oninput="mascaraTelefone(this)" inputmode="numeric">
                </div>
                <div class="col-sm-3">
                    <label for="exampleInputCelular">Celular <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="exampleInputCelular" name="celular" placeholder="Digite seu Celular" maxlength="15" value="{{ pessoa.pes_celular}}" oninput="mascaraCelular(this)" inputmode="numeric" required>
                </div>
            </div>

            <hr class="my-4">
            <div style="border-left: 2px solid #00b4d8; padding-left: 10px; height: 30px; display: flex; align-items: center;">
                <h6 style="margin: 0;">Naturalidade</h6>
            </div>
            <br>
            <div class="form-row">
                <div class="col-sm-4">
                    <label for="InputCidade">Cidade</label>
                    <select class="form-control form-control-sm" id="InputCidade" name="cidade_naturalidade">
                        <option value="">Selecione a Cidade</option>
                        {% for cidade in cidade %}
                            <option value="{{ cidade.cid_cod }}">{{ cidade.cid_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhuma cidade disponível</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="InputEstado">Estado</label>
                    <select class="form-control form-control-sm" id="InputEstado" name="estado_naturalidade">
                        <option value="">Selecione o Estado</option>
                        {% for estado in estado %}
                            <option value="{{ estado.est_cod }}">{{ estado.est_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhum estado disponível</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="InputImigrante">Imigrante</label>
                    <select class="form-control form-control-sm" id="InputImigrante" name="pais_imigrante">
                        <option value="">Selecione o País</option>
                        {% for pais in pais %}
                            <option value="{{ pais.pai_cod }}">{{ pais.pai_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhum país disponível</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <hr class="my-4">
        <div style="border-left: 2px solid #00b4d8; padding-left: 10px; height: 30px; display: flex; align-items: center;">
            <h6 style="margin: 0;">Cadastro</h6>
        </div>
        <br>
        
        <div class="form-row">
            <div class="col-sm-3">
                <div class="image-upload-container"> 
                    <div class="image-upload-placeholder">(Imagem)</div>
                    <div class="image-upload-icons"> 
                        <i class="fas fa-upload"></i> 
                        <i class="fas fa-camera"></i>
                        <i class="fas fa-expand"></i> 
                    </div> 
                    <input type="file" class="form-control-file" id="inputImagem" name="imagem">
                </div> 
            </div> 
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="InputDataCadastro">Data de Cadastro <span style="color: red;">*</span></label>
                    <input type="date" name = "data_ingresso" class="form-control form-control-sm" id="InputDataCadastro" aria-describedby="dataCadastroHelp" placeholder="Digite seus dados de cadastro"   value="{{ pessoa.pes_data_ingresso|date:'Y-m-d' }}" onblur="validarDatas()" required>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="InputDataSaida" id="dataSaidaLabel">Data de Saída</label>
                    <input type="date" class="form-control form-control-sm" id="InputDataSaida" aria-describedby="dataSaidaHelp"  value="{{ pessoa.pes_data_saida|date:'Y-m-d' }}" placeholder="Digite seus dados de saída" disabled>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-check" style="padding-top: 39px; padding-left: 39px;" >
                    <input class="form-check-input" type="checkbox" id="exampleCheckbox" onclick="toggleDataSaida()">
                    <label class="form-check-label" for="exampleCheckbox">
                        Ativo
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="Endereco" role="tabpanel" aria-labelledby="profile-tab">
            <div class="form-row">
                <div class="col-sm-6">
                    <label for="labelRua">Logradouro <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="InputRua" name="logradouro" value="{{ pessoa.end_rua}}"  placeholder="Digite o Logradouro" maxlength="350" required>
                </div>
                <div class="col-sm-6">
                    <label for="labelBairro">Bairro <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="InputBairro" name="bairro" value="{{ pessoa.end_bairro}}" placeholder="Digite o Bairro" maxlength="150" required>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-sm-3">
                    <label for="labelNumero">Número <span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="InputNumero" name="numero" value="{{ pessoa.end_numero}}" placeholder="Digite o Número" maxlength="15" required>
                </div>
                <div class="col-sm-3">
                    <label for="labelComplemento">Complemento</label>
                    <input type="text" class="form-control" id="InputComplemento" name="complemento" value="{{ pessoa.end_complemento}}" placeholder="Digite o Complemento" maxlength="100" >
                </div>
                <div class="col-sm-3">
                    <label for="InputCidadeEndereco">Cidade <span style="color: red;">*</span></label>
                    <select class="form-control form-control-sm" id="InputCidadeEndereco" name="cidade" required>
                        <option value="">Selecione a Cidade</option>
                        {% for cidade in cidade %}
                            <option value="{{ cidade.cid_cod }}">{{ cidade.cid_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhuma cidade disponível</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="InputEstadoEndereco">Estado <span style="color: red;">*</span></label>
                    <select class="form-control form-control-sm" id="InputEstadoEndereco" name="estado" required>
                        <option value="">Selecione o Estado</option>
                        {% for estado in estado %}
                            <option value="{{ estado.est_cod }}">{{ estado.est_descricao }}</option>
                        {% empty %}
                            <option value="">Nenhum estado disponível</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-sm-12">
                    <label for="labelReferencia">Ponto de Referência</label>
                    <input type="text" class="form-control" id="InputReferencia" value="{{ pessoa.end_referencia}}" name="referencia" placeholder="Digite a Referência" maxlength="300">
                </div>
            </div>
    </div>
    <!-- Incluindo o JavaScript do Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

        
</div>
    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
</form>

<script>
        function validarCPF(cpf) {
            cpf = cpf.replace(/[^\d]+/g, '');
        
            if (cpf.length !== 11) {
                return false;
            }
        
            if (/^(\d)\1{10}$/.test(cpf)) {
                return false;
            }
        
            let soma = 0;
            for (let i = 0; i < 9; i++) {
                soma += parseInt(cpf.charAt(i)) * (10 - i);
            }
            let primeiroDigito = (soma * 10) % 11;
            if (primeiroDigito === 10 || primeiroDigito === 11) {
                primeiroDigito = 0;
            }
            if (parseInt(cpf.charAt(9)) !== primeiroDigito) {
                return false;
            }
        
            soma = 0;
            for (let i = 0; i < 10; i++) {
                soma += parseInt(cpf.charAt(i)) * (11 - i);
            }
            let segundoDigito = (soma * 10) % 11;
            if (segundoDigito === 10 || segundoDigito === 11) {
                segundoDigito = 0;
            }
            if (parseInt(cpf.charAt(10)) !== segundoDigito) {
                return false;
            }
        
            return true;
        }
        
        // Função para verificar se o CPF já está cadastrado
        async function verificarDuplicidadeCPF(cpf) {
            const url = `{% url 'verificar_cpf' %}?cpf=${cpf}`;
        
            try {
                const response = await fetch(url);
                const data = await response.json();
                return data.existe;
            } catch (error) {
                console.error('Erro ao verificar duplicidade de CPF:', error);
                return false; // Caso ocorra erro, assume que o CPF não está duplicado
            }
        }
        
        // Função para validar o formulário
        async function validarFormulario(event) {
            event.preventDefault(); // Impede o envio automático do formulário
        
            const cpf = document.getElementById('InputCPF').value;
        
            // Verifica se o CPF é válido
            if (!validarCPF(cpf)) {
                alert('CPF inválido. Por favor, insira um CPF válido.');
                return; // Impede o envio do formulário
            }
        
            // Verifica se o CPF já está cadastrado
            const existe = await verificarDuplicidadeCPF(cpf);
        
            if (existe) {
                alert('Este CPF já está cadastrado. Por favor, insira um CPF diferente.');
                return; // Impede o envio do formulário
            }
        
            // Se o CPF for válido e não duplicado, exibe a mensagem de sucesso e envia o formulário
            alert('Salvo com sucesso!');
            document.forms[0].submit();
        }
        //mascara Celular e Telefone
        function mascaraCelular(campo) {
            var celular = campo.value.replace(/\D/g, ''); 
            if (celular.length <= 2) {
                campo.value = celular; 
            } else if (celular.length <= 7) {
                campo.value = celular.replace(/^(\d{2})(\d{1,})/, '($1) $2'); 
            } else {
                campo.value = celular.replace(/^(\d{2})(\d{5})(\d{1,})/, '($1) $2-$3'); 
            }
        }
    
        function mascaraTelefone(campo) {
            var telefone = campo.value.replace(/\D/g, ''); 
            if (telefone.length <= 2) {
                campo.value = telefone; 
            } else if (telefone.length <= 6) {
                campo.value = telefone.replace(/^(\d{2})(\d{1,})/, '($1) $2'); 
            } else {
                campo.value = telefone.replace(/^(\d{2})(\d{4})(\d{1,})/, '($1) $2-$3'); 
            }
        }
    
        function validarDatas() {
            var dataCadastro = document.getElementById("InputDataCadastro").value;
            var dataSaida = document.getElementById("InputDataSaida").value;
        
            if (dataCadastro && dataSaida) {
                if (dataSaida < dataCadastro) {
                    alert("A data de saída não pode ser menor que a data de cadastro.");
                    document.getElementById("InputDataSaida").value = ""; // Limpa a Data de Saída
                } else if (dataCadastro > dataSaida) {
                    alert("A data de cadastro não pode ser maior que a data de saída.");
                    document.getElementById("InputDataCadastro").value = ""; // Limpa a Data de Cadastro
                }
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
            // Definir estado inicial do formulário
            toggleDataSaida();
        });
    
        function toggleDataSaida() {
            var checkbox = document.getElementById('exampleCheckbox');
            var dataSaida = document.getElementById('InputDataSaida');
            var dataSaidaLabel = document.getElementById('dataSaidaLabel');
            
            if (checkbox.checked) {
                dataSaida.disabled = true;
                dataSaida.removeAttribute('required');
                removeAsterisk(dataSaidaLabel);
            } else {
                dataSaida.disabled = false;
                dataSaida.setAttribute('required', 'required');
                addAsterisk(dataSaidaLabel);
            }
        }
    
        function addAsterisk(label) {
            var asterisk = document.createElement('span');
            asterisk.className = 'required-asterisk';
            asterisk.innerText = '*';
            if (!label.querySelector('.required-asterisk')) {
                label.appendChild(asterisk);
            }
        }
    
        function removeAsterisk(label) {
            var asterisk = label.querySelector('.required-asterisk');
            if (asterisk) {
                label.removeChild(asterisk);
            }
        }
        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
            var fileName = document.getElementById("profilePicture").files[0].name;
            var nextSibling = e.target.nextElementSibling
            nextSibling.innerText = fileName
        })
    
        function previewImage(event) {
            const preview = document.getElementById('profilePicturePreview');
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        }
    
        document.getElementById('myForm').addEventListener('submit', function(event) {
            // Check the validity of the form
            if (!this.checkValidity()) {
                // Prevent the form from submitting if it is invalid
                event.preventDefault();
                alert('Por favor, preencha todos os campos obrigatórios.');
            }
        });
</script>

<style>
    .required-asterisk {
        color: red;
        margin-left: 5px;
    }

    .custom-file-input ~ .custom-file-label::after {
        content: "Procurar";
    }
    #profilePicturePreview {
        display: none;
        max-width: 200px;
        max-height: 200px;
        margin-top: 10px;
    } 
    .image-upload-container { border: 1px solid #ddd; padding: 10px; text-align: center; position: relative; width: 200px; height: 200px; } .image-upload-container img { max-width: 100%; max-height: 100%; } .image-upload-placeholder { display: flex; align-items: center; justify-content: center; height: 100%; color: #aaa; } .image-upload-icons { position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); } .image-upload-icons i { margin: 0 5px; cursor: pointer; }  
</style>
{% endblock %}