{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5>Informação do Usuário</h5>
        </div>
        <div class="card-block">
          <div class="row">

            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="fn">Nome</label>
                <input type="email" class="form-control" id="fn" aria-describedby="emailHelp"
                  value="{{ nome }}" disabled>
              </div>
            </div>

            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="ln">Sobrenome</label>
                <input type="text" class="form-control" id="ln" aria-describedby="emailHelp"
                  value="{{ sobrenome }}" disabled>
              </div>
            </div>

            <div class="col-sm-4 mb-4">
              <div class="form-group">
                <label for="add">Usuário</label>
                <input type="email" class="form-control" id="add" aria-describedby="emailHelp" value="{{ usuario }}" disabled>
              </div>
            </div>

            <div class="col-sm-8 mb-4">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ email }}" disabled>
              </div>
            </div>

            <div class="col-sm-8 mb-4">
              <div class="form-group">
                <form action="{% url 'profile_update' %}" method="get">
                    <button type="submit" class="btn btn-warning btn-lg">Alterar Informações</button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <div class="d-flex align-items-center justify-content-center flex-column">
            <div class="w-50 p-3">
              <img src="{% static 'assets/images/user/logo_user.jpg' %}" alt="profile image"
                class="img-fluid rounded-circle">
            </div>
            <div class="text-center">
              <h4 class="font-weight-bold h6">{{ nome }} {{ sobrenome }}</h4>
              <p class="font-italic text-muted">   </p>
            </div>
          </div>

          <div class="small font-weight-light mt-4 text-center text-muted">
            <p>Por segurança o sua conta User não tem vínculo com o seu registro Integrante, caso queira atualizar alguma informação referente a Integrante, por favor contactar o administrador do sistema.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

 {% endblock content %}