{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Cargos {% endblock title %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Cargos</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}
<h1>Cargos</h1>
    <div class="col-sm-14">
      <div class="card">
        <div class="card-header">
            <div class="row align-items-center justify-content-between">
                <div><h5>Lista</h5></div>
                <div><button type="button" class="btn btn-success" title="Cadastrar Cargo" data-toggle="tooltip">Cadastrar</button></div>
            </div>
        </div>
        <div class="card-body">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page"><i class="feather icon-home"></i></li>
            </ol>
          </nav>

        </div>
      </div>
    </div>

{% endblock content %}